// Variables
$website-width: 1280px;
$main-color: #3e588f;
$medium-color: #c0c5cd;
$light-color: #e3e8f8;
$dark-color: #203562;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
