@import "config";
@import "utilities";

// General  Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #ffffff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections
#home {
  //Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      row-gap: 1rem;
      column-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  //Home Section B
  &-b {
    .stats {
      background-color: #ffffff;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
    li {
      line-height: 2;
      &.stats-title {
        font-size: 1.5rem;
      }
      &.stats-number {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  //Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      counter-reset: 1.5rem;
      text-align: center;

      //process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      //process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

#about {
  // About A
  &-a {
    .about-info {
      display: -ms-grid;
      display: grid;
      column-gap: 1.2rem;
      row-gap: 1.2rem;
      grid-template-columns: repeat(3, 4fr);

      -ms-grid-columns: 1fr 1.2rem 1fr 1.2rem 1fr;
      -ms-grid-rows: 1fr 1.2rem 1fr;
    }
    .bio-image {
      grid-row: 1;
      grid-column: 1;

      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .bio {
      grid-row: 1;
      grid-column: 2 / span 2;

      -ms-grid-row: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;

      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }
    .award-1 {
      grid-row: 2;
      grid-column: 1;

      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .award-2 {
      grid-row: 2;
      grid-column: 2;

      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    .award-3 {
      grid-row: 2;
      grid-column: 3;

      -ms-grid-row: 3;
      -ms-grid-column: 5;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }
  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;
      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: $main-color;
      }
    }
  }
  &-c {
    .about-logos {
      display: grid;
      display: -ms-grid;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
      row-gap: 2rem;
      column-gap: 2rem;
      justify-content: center;

      img {
        &:nth-child(1) {
          -ms-grid-column: 1;
          grid-column: 1;
        }
        &:nth-child(2) {
          -ms-grid-column: 3;
          grid-column: 2;
        }
        &:nth-child(3) {
          -ms-grid-column: 5;
          grid-column: 3;
        }
        &:nth-child(4) {
          -ms-grid-column: 7;
          grid-column: 4;
        }
      }
    }
  }
  &-d {
    .testimonials {
      display: grid;
      display: -ms-grid;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
      column-gap: 0.5rem;
      row-gap: 0.5rem;

      div {
        &:nth-child(1) {
          -ms-grid-column: 1;
          grid-column: 1;
        }
        &:nth-child(2) {
          -ms-grid-column: 3;
          grid-column: 2;
        }
        &:nth-child(3) {
          -ms-grid-column: 5;
          grid-column: 3;
        }
        &:nth-child(4) {
          -ms-grid-column: 7;
          grid-column: 4;
        }
      }

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }
      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

//Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    .social .far {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}
